<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fozzy.Skin" version="1.2.5.07" targetFramework="net40-Client" />
  <package id="Fozzy.System" version="1.2.3.66" targetFramework="net40-Client" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net40-Client" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net40-Client" />
</packages>